.git
__pycache__
*.pyc
.pytest_cache

reference
repo
markdown
proof/.lake

SC-OLH-KG/results
SC-OLH-KG/profiles
SC-OLH-KG/checkpoints

Final_Submission/GPR_KG_Code/results
Final_Submission/GPR_KG_Code/**/__pycache__
Final_Submission/GPR_KG_Code/**/*.pyc

*.prof
*.tar
*.tar.gz
*.zip
